<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Đoàn Phạm Ngọc Hiếu</h2>
      <h4>Doanpngochieu@gmail.com</h4>
    </div>
    <img src="https://avatars.githubusercontent.com/u/78007204?v=4" alt="">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLink="/" routerLinkActive="list-item-active" >
    <mat-icon>assessment</mat-icon>
    DashBoard
  </a>
  <a mat-list-item routerLink="/posts" routerLinkActive="list-item-active" >
    <mat-icon>assessment</mat-icon>
    Posts
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLink="/contacts" routerLinkActive="list-item-active" >
    <mat-icon>contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLink="/contacts" routerLinkActive="list-item-active" >
    <mat-icon>phone</mat-icon>
    Leads
  </a>

</mat-nav-list>

